<%- include("partials/header.ejs") %>

<div class="container register">
    <form action="api/auth/login" method="POST">
        <div>
            <h3>Sign Up</h3>
        </div>
        <% if (locals.messages && locals.messages.errors && locals.messages.errors.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.errors.forEach(function(error) { %>
                    <p><%= error.msg %></p>
                <% }) %>
            </div>
        <% } %>
        <% if (locals.messages && locals.messages.success) { %>
            <div class="alert alert-success">
                <p><%= messages.success %></p>
            </div>
        <% } %>
        <% if (locals.messages && locals.messages.error) { %>
            <div class="alert alert-danger">
                <p><%= messages.error %></p>
            </div>
        <% } %>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <div class="col-xl-12">
            <button type="submit" class="boxed_btn_orange">Log in</button>
        </div>
        <div>
            <p class="doen_have_acc">Don't have an account? <a class="dont-hav-acc" href="/register">Sign Up</a>
        </div>
      </form>
</div>