<%- include("partials/header.ejs") %>
    <!-- header-end -->
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
            <h3>Our Courses</h3>
        </div>
        <!-- bradcam_area_end -->


    <div class="container">
        <% locals.courses.forEach(course => { %>
            <div class="row">
                <div class="col">
                    <h2><%= course.title %></h2>
                    <p><%= course.description %></p>
                    <div class="col-xl-12">
                        <form action="/api/course/enroll/<%= course.id %>" method="POST">
                            <button class="boxed_btn_orange" type="submit">Enroll</button>
                        </form>
                    </div>
                </div>
                
                
            </div>
        <% }); %>
    </div>
            